/* CSS reset */
*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}
html,body{
     width: 100%;
     height: 100vh;
}
img{
     width: 100%;
}
header{
     padding: 0.45% 5%;
     background-color: #000;
}
nav{
     display: flex;
     justify-content: space-between;
     align-items: center;
}
a{
     color: black;
     text-decoration: none;
}
/* Header */
header img{
     width: 30%;
}
header a{
     color: white !important;
     font-family: "Inter", sans-serif;
}
header ul{
     list-style: none;
     display: flex;
     gap: 5%;
     align-items: center;
}
header ul li{
     margin-top: 2%;
}
header div:nth-child(2){
     width: 60%;
}
.nav-item-1{
     cursor: pointer;
}
.nav-btn-1{
     border: 1px solid white;
     padding: 5% 6% !important;
     border-radius: 20%;
}
.nav-btn-1 button{
     background-color: transparent;
     color: white;
     border: none;
     cursor: pointer;
}
.nav-btn-2{
     background-color: red;
     border: 1px solid red;
     padding: 5% 6% !important;
     border-radius: 30px;
     /* width: 20%  ; */
     width: 47%;
}
.nav-btn-2 button{
     background-color: transparent;
     color: white;
     border: none;
     cursor: pointer;
     width: 100%;
}
.nav-btn-2 button span{
     padding: 5%;
     background-color: white;
     color: red;
     border-radius: 50%;
}
/* .nav-btn-2{
     padding: 0 6%;
     background-color: red;
}
.nav-btn-2 button{
     background-color: red;
     border: none;
     color: white;
}
.nav-btn-2 span{
     color: red;
     background-color: white;
     border-radius: 50%;
     padding: 3%;
} */
.btn{
     display: flex;
     gap: 5%;
     width: 50%;
}