/* CSS reset */
*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     color: white !important;
}
@font-face {
     font-family: 'Futurak';
     src: url(./Fonts/futurak.ttf);
}
@font-face {
     font-family: 'Apercu';
     src: url(./Fonts/aperculight.otf);
}
html,body{
     width: 100%;
     height: 100vh;
     background-color: black !important;
}
img{
     width: 100%;
}
header{
     padding: 0.45% 5%;
     background-color: #000;
}
nav{
     display: flex;
     justify-content: space-between;
     align-items: center;
}
a{
     color: black;
     text-decoration: none;
}
/* Header */
header img{
     width: 30%;
}
header a{
     color: white !important;
     font-family: "Inter", sans-serif;
}
header ul{
     list-style: none;
     display: flex;
     gap: 5%;
     justify-content: space-between;
     align-items: center;
}
header ul li{
     margin-top: 2%;
}
header div:nth-child(2){
     width: 60%;
}
.nav-item-1{
     cursor: pointer;
}
.nav-btn-1{
     border: 1px solid white;
     padding: 4% 6% !important;
     border-radius: 3rem;
     display: flex;
     align-items: center;
     justify-content: center;
}
.nav-btn-1 button{
     background-color: transparent;
     color: white;
     border: none;
     cursor: pointer;
     display: flex;
     align-items: center;
     justify-content: center;
}
.nav-btn-2{
     background-color: red;
     border: 1px solid red;
     padding: 4% 6% !important;
     border-radius: 3rem;
}
.nav-btn-2 button{
     background-color: transparent;
     color: white;
     border: none;
     cursor: pointer;
     white-space: nowrap;
     display: flex;
     align-items: center;
     gap: 10px;
}
.nav-btn-2 button span{
     padding: 5%;
     background-color: white;
     color: red !important;
     border-radius: 50%;
}
.nav-btn-2 button span i{
     color: red !important;
}
.btn{
     display: flex;
     gap: 5%;
     width: 50%;
}
.mobile-code {
     display: none !important;
}
/* Hero Section */
.hero-section{
     padding: 7%;
     text-align: center;
}
.hero-section h1{
     font-size: 48px;
     width: 70%;
     margin: 0 auto;
     font-family: 'Apercu';
}
.hero-section h1 span{
     font-family: 'futurak';
}
.hero-section p{
     margin-top: 2%;
     color: #ffffffb3 !important;
     font-family: 'Apercu';
}
.hero-cards{
     display: flex;
     justify-content: space-between;
     gap: 3%;
     margin-top: 20px;
}
.hero-cards > div{
     flex: 1;
     flex-shrink: 0;
}
.hero-card-4{
     height: 62%;
}
.hero-card{
     border-radius: 3px;
     padding: 12% 7%;
     background-color: white !important;
}
.hero-card img{
     display: block;
     width: 100%;
     height: 100%;
     object-fit: cover;
}

.hero-cards button{
     cursor: pointer !important;
}
.card-link>button{
     margin-top: 10%;
     background: transparent;
     border: 1px solid gray;
     padding: 6% 18%;
     border-radius: 3rem;
}
@media(max-width: 1220px){
     .nav-item-1{
          width: 10%;
     }
     .nav-item-1 img{
          width: 100%;
     }
     .nav-item-2{
          width: 80% !important;
     }
     .nav-item-2 ul{
          margin: 0 auto !important;
     }
}
@media(max-width : 840px){
     .nav-item-1{
          display: none !important;
     }
     .nav-item-2{
          display: none !important;
     }
     .mobile-code{
          display: flex !important;
          justify-content: space-between;
          align-items: center;
          color: white !important;
     }
     .mobile-logo{
          display: flex;
          justify-content: center;
          margin-left: 15%;
     }
     header{
          padding: 2% 0.8% !important;
     }
     .fa-bars{
          font-size: 22px;
     }
     nav{
          display: block;
     }
     .order{
     background-color: red;
     color: white !important;
     padding: 1rem !important;
     border-radius: 3rem;
}
.hero-section h1{
     font-size: 36px;
}
.hero-cards{
     flex-direction: column;
     gap: 20px;
}
.hero-card img{
     width: 50%;
     margin: 0 auto;
}
.card-link>button{
     margin-top: 4%;
     background: transparent;
     border: 1px solid gray;
     padding: 3% 18%;
     border-radius: 3rem;
}
}
@media(max-width : 730px){
     .order{
          padding: 0.5rem !important;
          font-size: 12px !important;
     }
}
@media(max-width : 610px){
     .order{
          padding: 0.4rem !important;
          font-size: 8px !important;
     }
     .hero-section h1{
     font-size: 24px;
}
}
@media(max-width : 490px){
     .order{
          padding: 0.3rem !important;
          font-size: 7px !important;
     }
     
}

@media(max-width : 370px){
     .order{
          padding: 0.1rem !important;
          font-size: 6px !important;
     }
      .hero-section h1{
     font-size: 16px;
}
.hero-section p{
          font-size: 8px;
}
}
